<header>


    <a href="/" class="buttonnormal">Vaja1</a>
    <a href="/clists" class="buttonnormal">Seznami</a>
    <a href="/clists/new" class="buttonnormal">Dodaj seznam</a>
    <a href="/rooms" class="buttonnormal">Sobe</a>
    <a href="/rooms/new" class="buttonnormal">Dodaj sobo</a>
    <a href="/rooms/users" class="buttonnormal">Uporabniki</a>




</header>