<div class="textchat" id="id" style="opacity: 0;"><%= user.id %></div>
<div id="roomid" style="opacity: 0;"><%= room.id %></div>
<%- include('../partials/errormessage') %>
<br>
<br>




    <div>Pozdravljeni <%= user.name %></div> 
    <div class="textchatbox" style="height:300px; width:250px; clear:both;overflow-y: scroll;">
    <ul id="messages" style="list-style-type:none; text-align: left;">
    </ul>
    </ul>
    </div>
    <br>
    <input class="textchatinput" id="message" style="width: 250px; height: 1%;"></input>
    <br>
    <button class="buttonsave" id="sendmsg">Pošlji</button> 





<br>
