<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ST2020</title>

    <script defer src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script defer src="/gamescript.js"></script>
    <script defer src="/textscript.js"></script>

    <style>
        .buttongame {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(40, 63, 192);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttongame:hover {
            background-color: rgba(255, 255, 255,0.7);
            border: solid;
            color: rgb(40, 63, 192);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttongamedisabled {
            background-color: rgba(255, 255, 255, 0.253);
            border: solid;
            color: rgba(40, 63, 192, 0.253);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            border-radius: 12px;
            font-weight: bolder;
            pointer-events: none;
        }

        .scoreboard{
            width: 90%;
            border-collapse: collapse;
        }
        .scoreboard td{
            width: 2%;
            position: relative;
        }
        .scoreboard td:after {
            content: '';
            display: block;
            margin-top: 25%;
        }
        .scoreboard td .redscore {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(219, 116, 142, 0.548);
            font-size: 4vw;
            font-family: Calibri;
            text-align: center;
        }
        .scoreboard td .bluescore {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(83, 96, 211, 0.5);
            font-size: 4vw;
            font-family: Calibri;
            text-align: center;
        }
        .scoreboard td .yellowscore {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(214, 196, 96, 0.479);
            font-size: 4vw;
            font-family: Calibri;
            text-align: center;
        }
        .scoreboard td .greenscore {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(89, 180, 81, 0.507);
            font-size: 4vw;
            font-family: Calibri;
            text-align: center;
        }

        .gametable{
            width: 90%;
            border-collapse: collapse;
        }
        .gametable td{
            width: 2%;
            position: relative;
        }
        .gametable td:after {
            content: '';
            display: block;
            margin-top: 100%;
        }
        .gametable td .none {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .neutral {
            border: 1px black solid;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.493);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .red {
            border: 1px black solid;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(219, 116, 142, 0.548);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .yellow {
            border: 1px black solid;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(214, 196, 96, 0.479);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .blue {
            border: 1px black solid;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(83, 96, 211, 0.5);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .green {
            border: 1px black solid;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(89, 180, 81, 0.507);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .redspawn {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(219, 116, 142, 0.548);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .yellowspawn {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(214, 196, 96, 0.479);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .bluespawn {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(83, 96, 211, 0.5);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .greenspawn {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(89, 180, 81, 0.507);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }
        .gametable td .middle {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0);
            font-size: 3.5vw;
            font-family: Calibri;
            text-align: center;
        }

        .gametable th{
            border: 1px solid black;
        }
        html {
            background: linear-gradient(to bottom right, #949494 0%, #444b64 100%) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        tr.strikeout td:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            border-bottom: 1px solid #111;
            width: 100%;
        }
        .buttondel {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(167, 36, 36);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttondel:hover {
            background-color: rgba(255, 255, 255,0.7);
            border: solid;
            color: rgb(167, 36, 36);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }

        .buttongo {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(40, 63, 192);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttongo:hover {
            background-color: rgba(255, 255, 255,0.7);
            border: solid;
            color: rgb(40, 63, 192);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttonnormal {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(59, 59, 59);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttonnormal:hover {
            background-color: rgba(255, 255, 255,0.7);
            border: solid;
            color: rgb(59, 59, 59);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttonsave {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(51, 167, 36);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .buttonsave:hover {
            background-color: rgba(255, 255, 255,0.7);
            border: solid;
            color: rgb(51, 167, 36);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-weight: bolder;
        }
        .tr {
            border: solid;
            border-radius: 8px;
            border-width: 3px;
            border-color: darkgray;
            background-color: rgba(255, 255, 255,0.1);
            border-collapse: collapse;
        }
        .tr:hover {
            padding-top: 10px;
            outline: solid;
            outline-width: 3px;
            outline-color: darkgray;
            background-color: rgba(255, 255, 255,0.2);
            border-collapse: collapse;
        }
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .textbox {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(83, 83, 83);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;   
            margin: 4px 2px;
            border-radius: 12px;
            font-weight: bolder;
        }
        .textchatbox {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(83, 83, 83);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;   
            margin: 4px 2px;
            border-radius: 12px;
            font-weight: bolder;
        }
        .textchatinput {
            background-color: rgba(255, 255, 255,0.4);
            border: solid;
            color: rgb(83, 83, 83);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;   
            margin: 4px 2px;
            border-radius: 12px;
            font-weight: bolder;
        }

    </style>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <%- body %> 

    <br>
</body>
</html>