<p style="font-size: larger; font-weight: bold;">Ime</p>
<input class="textbox" type="text" name="name" value="<%= chore.name %>">
<br>
<p style="font-size: larger; font-weight: bold;">Tags</p>
<input class="textbox" type="text" name="tags" value="<%= chore.tags %>">
<br>
<p style="font-size: larger; font-weight: bold;">Reminder</p>
<input class="textbox" type="date" name="reminder" value="<%= chore.date%>">
<br>
<p style="font-size: larger; font-weight: bold;">Due</p>
<input class="textbox" type="date" name="date" value="<%= chore.date%>">

