<div class="lobby"></div>
<%- include('../partials/errormessage') %>
<br>
<br>

<% if(users.length > 0) { %>
 

<table style="border-collapse: collapse; width: 100%;">
    <% users.forEach(users => { %>  
        <tr class="tr">
                <td style="font-size: larger; font-weight: bold; width: 90%; padding-left: 5px;">
                    <%= users.name %> 
                </td>
                <td>
                    <a class="buttonsave" href="/rooms/users/profile/<%= users.id %>">Prikaži</a>
                </td>
        </tr>
    <% }) %>
</table>

<form method="POST" action="/rooms/games/?_method=DELETE">
    <button class="buttondel" type="submit">Zapusti</button>
</form>

<% } %>
 