
<p style="font-size: larger; font-weight: bold;">Ime</p>
<input class="textbox" type="text" name="name" value="<%= clist.name %>">
<br>

<p style="font-size: larger; font-weight: bold;">Tags</p>
<input class="textbox" type="text" name="tags" value="<%= clist.tags %>">
